body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#capture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#video {
    display: none;
}

#capture-canvas {
    display: none;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure the background image is behind other content */
}

#status {
    color: white;
}
