body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#capture-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    display: none;
}

#captured-image {
    max-width: 100%;
    margin-top: 20px;
}
